ul {
    list-style-type: none;
    padding: 0;
    background-color: rgb(222, 121, 121); 
}

li {
    margin: 5px 0;
    padding: 5px;
    background-color: rgb(222, 121, 121); 
}

li span {
    display: block;
    background-color: #fff7f7; 
    color: rgb(255, 141, 141); 
    padding: 5px;
}